/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
out/*
!/out/.gitkeep
!/out/coverage
/out/coverage/*.csv
resources/public/cljs-out/*
!resources/public/cljs-out/.gitkeep